.published-book-section{

    .hd-section{
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .right-video-ft{
            flex: 0 0 70%;
            display: inline-flex;
            justify-content: flex-end;

            .year,.month, select{
                padding: 8px 18px;
                background-color: #797878;
                font-size: 15px;
                font-weight: 700;
                color: white;
                border-radius: 5px;
                margin: 0px 10px;
                border: none;
                height: 39px;


                &:active, &:focus, &:hover{
                    outline: none;
                    box-shadow: none;
                }
            
            }

            select{
                background-image: url(/assets/images/down.png);
                background-size: 10px;
                background-position-x: 110px;
                background-position-y: 17px;            
                 option{
                        background: white;
                        font-weight: bold;
                        font-size: 15px;
                        color: #000;
                }
            }
        }
        p{
            flex:0 0 30%;
            color: white;
            font-weight: 700;
            font-size: 15px;
            margin-bottom: 0px;
        }
    }
  
    
    .main-blog-content{
        margin-top: 20px;
        .heading-text{
            font-size: 27px;
            color: #37C6F7;
            font-weight: normal;
            
        }
        .main-box{
            padding: 5px;
            background: white;

            img{
                width: 100%;
            }

            p{
                font-weight: 400;
                color: #464545;            
            }
           
        }

        .inner-content{
            padding-left: 0px;
            list-style-type: none;
            display: flex;

            li{
                padding: 15px;
                font-weight: bold;
                border-bottom: 1px solid #87878a;
                &:nth-child(1){
                    flex: 0 0 50%;
                }
                &:nth-child(2){
                    flex: 0 0 25%;
                    border-left: 2px solid #bcb8b8;
                    border-right: 2px solid #bcb8b8;
                }

                &:nth-child(3){
                    flex: 0 0 25%
                }

                span{
                    color: #1D9CD4;
                }
            }
        }
    }



    .text-cr-design{
        margin-top: 38px;
        .card{
            background: transparent !important;
            box-shadow: none !important;
            color: white;

            h4{
                font-size: 14px;
                color: white;
                margin-top: 10px;
                /* text-transform: uppercase; */
                font-weight: bold;
            }

            p{
                font-size: 10px;
            }
        }
    }
}