<div class="podcast-section">
    <div class="hd-section">
        <p>SORT BY: <span>LATEST FIRST</span></p>
        <div class="right-video-ft">
            <span class="year">2019</span>
            <span class="month">MAR</span>
            <div>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>2018-2019</option>
                    <option value="1">2019-2020</option>
                    <option value="2">2021-2022</option>
                    <option value="3">2022-2023</option>
                </select>
            </div>
        </div>
    </div>
    <div class="main-video-sc">
       <div>
        <embed 
        src="assets/video/demo.mp4">
       </div>
    </div>
</div>
