<nav class="navbar navigation navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png"  alt="">
        </a>
        <div class="right-sections">
            <a class="inside-logo" href="#">
                    <img src="assets/images/logo-a.png"  alt="">
            </a>

            <div class="right_menu">
                <ul class="right-menu-content">
                    <li><a href="#">Principal's Message</a></li>
                    <li><a href="#">Portfolio Generator</a></li>
                </ul>
                <ul class="right-btn">
                    <li class="search_btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="#"> <img src="assets/images/search.png"  alt=""></a></li>
                </ul>
            </div>
        </div>

    </div>
  </nav>
  <section class="banner">
    <div class="my-container relative">
        <div class="row">
            <div class="col-lg-4 text-center width-100">
                <div class="left-text-section">
                    <img class="heading-img" src="assets/images/one.png">
                    <h2 class="text-heading">Travelling Students</h2>
                    <div class="wall-text"> <img src="assets/images/wall.png"></div>
                    <p class="text-normal">24x7 Access to your  Work Share with friends anytime Create your portfolio</p>
                    <div class="scroll-set">
                        <span><i class="fas fa-long-arrow-alt-down"></i></span>
                        <p class="mt-2">scroll to being</p>
                    </div>
                </div>  
            </div>
            <div class="col-lg-">
                <div class="fixed-section">
                   <app-video-summary></app-video-summary>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="all-details-section">
    <div class="my-container">
        <div class="row">
            <div class="col-sm-4 width-100">
                <div class="text-left d-flex-m">
                    <div>
                            <img src="assets/images/students-voice.png">
                    </div>
                    <h5 class="main-hd-text">Student Voices Reach out to the world</h5>
                </div>
                <div class="select-jouney">
                        <span class="icon-down"></span>
                  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>2018-2019</option>
                        <option value="1">2019-2020</option>
                        <option value="2">2021-2022</option>
                        <option value="3">2022-2023</option>
                    </select>
                </div>
                <div class="list-menu">
                    <ul>
                        <li><a href="/two/podcast">Podcasts</a></li>
                        <li><a  href="/two/publishedbooks">Student Travel Chronicle</a></li>
                        <li><a  href="/two/podcast">Video Logs</a></li>
                        <li><a  href="/two/travel-book">Travel Book</a></li>
                        <li><a  href="/two/blogs">Blue Bulb Bloggers Inc</a></li>
                        <li><a  href="/two">Testimonials</a></li>
                        <li><a  href="/two">Journey Moments</a></li>
                        <li><a  href="/two">Journey Champs</a></li>
                        <li><a  href="two/principal-desk">From the Principal’s Desk</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="thanks-secton">
    <div class="container">
        <div class="row">
            <div class="thanks-content w-100">
                <h2> Thank you for visiting our ClassRoam Wall. Keep Visiting for updates on more journeys and exciting new Creative media projects by our students</h2>
            </div>

            <div class="col-lg-6 text-center bottom-view">
                 <img class="bottom-top-logo" src="assets/images/bottomlogo.png">
                 <p>Ultimate source of student-traveller 
                        generated material. Curated on-journey.</p>
                <img src="assets/images/edterra.png">
            </div>
            <div class="col-lg-6">
                    <video width="100%" height="400" controls>
                            <source src="assets/video/demo.mp4" type="video/mp4">
                            <source src="assets/video/demo.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                    </video>    
                
            </div>
        </div>
        
    </div>
    <div class="container-fluid sub-footer">
        <div class="row">
            <ul>
                <li>
                    <a src="#">HOME</a>
                </li>
                <li>
                    <a src="#">NEED HELP ?</a>
                </li>
                <li>
                    <a src="#">KNOW MORE ABOUT CLASSROAM WALL</a>
                </li>
                <li>
                    <a src="#">LIKE WHAT YOU SEE?  LEAVE A MESSAGE</a>
                </li>
                <li>
                    <a src="#">© 2019 EdTerra Edventures Pvt. Ltd.</a>
                </li>
            </ul>
        </div>
    </div>
  </section>

  <!-- =================modal ===================-->

  
  <!-- Modal -->
  <div class="modal fade search-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
         <form>
             <input placeholder="Year, Destination, Program.......">
             <button> <img src="assets/images/search.png"  alt=""></button>
         </form>
        </div>
      </div>
    </div>
  </div>